
####################################################################################################
# C .gitignore                                                                                     #
#     Source: https://github.com/github/gitignore/blob/main/C.gitignore                            #
####################################################################################################

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf



####################################################################################################
# Visual Studio Code .gitignore                                                                    #
#     Source: https://github.com/github/gitignore/blob/main/Global/VisualStudioCode.gitignore      #
####################################################################################################

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix



####################################################################################################
# Custom                                                                                           #
#                                                                                                  #
####################################################################################################

build
bin
.vscode
!.vscode/doxy.code-snippets
